body{
	margin: auto;
	font-size: 16px;
	color: black;
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

#title{
	margin:auto;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	line-height: 5vh;
	vertical-align: middle;
	border-radius: 0;
	border: 0;
	height: 20vh;
	padding: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#mynamediv{
	display: flex;
	justify-content: center; 
	align-items: center;
}

#name{
	margin: auto;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	width: 50%;
	color: white;
	font-size: 5vh;
}

#initial-description{
	font-size: 10px;
	color:blue;
}

.navbar navbar-inverse{
	background-color: black;
}
.navbar{
	border-radius: 0px;
}

.glyphiconlist{
	text-align: center;
}


/*reminder for responsive iframe to make it resizable if mobile device used */
.responsive-iframe {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.responsive-iframe-2-left{
  width: 49%;
  float:left;
  padding-top: 10px;
  padding-left: 5%;
   padding-right: 1%;
}

.responsive-iframe-2-right{
  width: 49%;
  float:right;
  padding-right: 5%;
  padding-top: 10px;
}

.blog{
  background-color: #ccc;
  border:1px solid #ff0000;	
}

iframe{
	display: block;
	border-style: none;
}


