#Projects{
    background: white;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#project-header{
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-size: 64pt;
    left: 50%;
    top: 15%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    font-family: 'Quicksand', sans-serif;
    color: black;

}

#top-description{
	margin: 0px;
    padding: 0px;
    position: absolute;
    font-size: 16pt;
    left: 25%;

    top: 30%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    font-family: 'Quicksand', sans-serif;
    color: black;
    word-wrap: break-word;
}